<main>
  <div class="container grid">
    <mat-form-field class="picker">
      <mat-select
        [(ngModel)]="endpointValue"
        (selectionChange)="onOptionSelected(endpointValue)"
      >
        <mat-option *ngFor="let option of endpointOptions" [value]="option"
          >{{ option }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="search">
      <mat-label> Filter </mat-label>
      <input matInput #filter [(ngModel)]="filterValue" />
      <button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="onClearFilter()"
        [hidden]="filterValue == ''"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <a
      mat-icon-button
      matTooltip="you can click on fields like 'total area' or 'subregion' to sort by them"
    >
      <mat-icon>info_outline</mat-icon>
    </a>
  </div>
  <div *ngIf="dataSource">
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      matSortActive="name"
      matSortDirection="asc"
    >
      <ng-container matColumnDef="area">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Area</th>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      </ng-container>
      <ng-container matColumnDef="population">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Population</th>
      </ng-container>
      <ng-container matColumnDef="region">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Region</th>
      </ng-container>
      <ng-container matColumnDef="subregion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>subregion</th>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    </table>
  </div>
  <div class="container responsive-grid">
    <mat-card
      *ngFor="let country of observableCountries | async"
      (click)="onCardClick(country.cca3)"
    >
      <mat-card-header>
        <img
          mat-card-avatar
          src="{{ country.coatOfArms.svg }}"
          *ngIf="country.coatOfArms.svg"
        />
        <img
          mat-card-avatar
          src="../../../assets/images/blank_coat.png"
          *ngIf="!country.coatOfArms.svg"
        />
        <mat-card-title *ngIf="country.name.common">
          {{ country.name.common }}
        </mat-card-title>
        <mat-card-subtitle *ngFor="let capital of country.capital">
          {{ capital }}
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <div *ngIf="country.region"><b>Region:</b> {{ country.region }}</div>
        <div *ngIf="country.subregion">
          <b>Subregion:</b> {{ country.subregion }}
        </div>
        <div *ngIf="country.area">
          <b>Geographical Area:</b> {{ country.area }} km<sup>2</sup>
        </div>
        <div *ngIf="country.population">
          <b>Population:</b> {{ country.population }} people
        </div>
        <div>
          <img
            mat-card-image
            src="{{ country.flags.svg }}"
            *ngIf="country.flags.svg"
            class="img"
          />
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <mat-paginator
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
    showFirstLastButtons
  ></mat-paginator>
</main>
