.container {
  padding: 24px;
  position: relative;
}

.img {
  object-fit: fill;
  display: block;
  float: right;
  top: 24px;
  width: 25%;
  height: 25%;
}

.flag {
  object-fit: fill;
  width: 100%;
  height: 100%;
}
