button {
  padding: 7px 12px;
  border-radius: 16px;
  min-height: 32px;
  background-color: #e0e0e0;
  color: rgba(0, 0, 0, 0.87);
  box-shadow: none;
  border: none;
  cursor: pointer;
  outline: none;
  display: block;
}

button:focus {
  outline: none;
}
