<html>
  <head>
    <style>
      body {
        background-image: url("../../../assets/images/landing-page.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
      }
    </style>
  </head>
  <body>
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Login</mat-card-title>
          <button
            mat-raised-button
            [disabled]="detailsEntered()"
            (click)="onLoginClick()"
          >
            login
          </button>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        <div>
          <mat-form-field>
            <mat-label>Enter your username</mat-label>
            <input
              matInput
              placeholder="Admin"
              [type]="hide ? 'password' : 'text'"
              [(ngModel)]="username"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Enter your password</mat-label>
            <input
              matInput
              placeholder="Admin"
              [type]="hide ? 'password' : 'text'"
              [(ngModel)]="password"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </mat-card-content>
    </mat-card>
  </body>
</html>
