/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-snack-bar-container {
  &.error-snackbar {
    --mdc-snackbar-container-color: #f60101;
    --mat-mdc-snack-bar-button-color: #e4e4e4;
    --mdc-snackbar-supporting-text-color: #fff;
    --mdc-snackbar-text-color: #fff;
  }
}
